body{
    margin:0;
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(
        135deg,
        #ffd6e8,
        #f3d1ff,
        #d9e8ff
    );
    font-family:Arial, sans-serif;
}
.container{
    background:white;
    width:80%;
    max-width:420px;
    padding:30px;
    border-radius:25px;
    text-align:center;
    box-shadow:0 10px 30px rgba(0,0,0,0.15);
}
h1{
    color:#8a4fff;
    font-size:clamp(20px, 4vw, 28px);
    margin-bottom:25px;
}
h2{
    color:#8a4fff;
    font-size:32px;
    margin-bottom:20px;
}
input{
    width:90%;
    max-width:400px;
    padding:15px;
    margin:12px 0;
    border:1px solid #ddd;
    border-radius:12px;
    font-size:18px;
}
button{
    margin-top:20px;
    background:#8a4fff;
    color:white;
    border:none;
    padding:15px 30px;
    border-radius:15px;
    font-size:20px;
    cursor:pointer;
}
button:hover{
    transform:scale(1.05);
}
p{
    font-size:18px;
    line-height:1.6;
}
.btn{
    display:inline-block;
    background:#8a4fff;
    color:white;
    text-decoration:none;
    padding:18px 30px;
    border-radius:15px;
    font-size:22px;
    font-weight:bold;
    margin-top:20px;
}
@media (max-width:600px){
    .container{
        width:80%;
        padding:25px;
    }
    h1{
        font-size:24px;
    }
    h2{
        font-size:30px;
    }
    p{
        font-size:18px;
    }
}
.result-container{
    min-height:500px;
}