body{
    margin:0;
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(
        135deg,
        #ffd6e8,
        #f3d1ff,
        #d9e8ff
    );
    font-family:Arial, sans-serif;
}
.container{
    background:white;
    width:85%;
    max-width:450px;
    padding:35px;
    border-radius:25px;
    text-align:center;
    box-shadow:0 10px 30px rgba(0,0,0,0.15);
}
h1{
    color: #8a4fff;
    font-size: clamp(24px, 5vw, 30px);
    text-align: center;
    margin-bottom: 40px;
}
input{
    width:90%;
    max-width:400px;
    padding:12px;
    margin:10px 0;
    border:1px solid #ddd;
    border-radius:12px;
    font-size:15px;
}
button{
    margin-top:15px;
    background:#8a4fff;
    color:white;
    border:none;
    padding:12px 25px;
    border-radius:12px;
    font-size:15px;
    cursor:pointer;
}
button:hover{
    transform:scale(1.05);
}
.btn{
    display:inline-block;
    background:#8a4fff;
    color:white;
    text-decoration:none;
    padding:18px 30px;
    border-radius:15px;
    font-size:22px;
    font-weight:bold;
}
@media (max-width: 600px){
    .container{
        width:80%;
        padding:20px;
    }
    h1{
        font-size:28px;
    }
}
h2{
    font-size:48px;
    color:#8a4fff;
    margin-bottom:25px;
}
p{
    font-size:24px;
    line-height:1.5;
}
.btn{
    font-size:24px;
    padding:18px 30px;
}
.container p{
    font-size:20px;
    line-height:1.8;
}
.container h2{
    font-size:42px;
    color:#8a4fff;
}